.header-child {
    height: 1024px;
    width: 850px;
    position: relative;
    background-color: var(--color-mediumslateblue);
    display: none;
    max-width: 100%;
  }
  .wrapper-group-12-child {
    height: 100%;
    width: 100%;
    z-index: 1;
    object-fit: contain;
    position: absolute;
    left: 14px;
    top: 25px;
    transform: scale(1.132);
  }
  .header,
  .wrapper-group-12 {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
  .wrapper-group-12 {
    height: 478.4px;
    width: 549.5px;
    position: relative;
    z-index: 1;
    align-items: center;
  }
  .header {
    height: 1024px;
    width: 850px;
    background-color: var(--color-mediumslateblue);
    flex-direction: row;
    align-items: flex-start;
    padding: 273px var(--padding-xl) 272.6px;
    box-sizing: border-box;
    min-width: 850px;
  }
  .fill-1-icon {
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    left: 0;
    top: 0;
    transform: scale(1.421);
  }
  .wrapper-fill-1 {
    height: 50px;
    width: 47.5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .tick {
    color: #ff3d71;
  }
  .wetick-txt {
    line-break: anywhere;
  }
  .wetick {
    height: 36px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
    display: flex;
    align-items: center;
  }
  .signup-fields,
  .wetick-logo {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .wetick-logo {
    flex-direction: column;
    padding: 7px 0 0;
  }
  .signup-fields {
    height: 50px;
    flex-direction: row;
    padding: 0 var(--padding-xl) 0 0;
    box-sizing: border-box;
    gap: var(--gap-mini);
  }
  .sign-up {
    height: 36px;
    position: relative;
    letter-spacing: 1px;
    font-weight: 600;
    display: inline-block;
    white-space: nowrap;
  }
  .log-in {
    font-weight: 600;
    color: var(--color-mediumslateblue);
  }
  .already-have-an-container {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.5px;
    text-align: center;
  }
  .login-options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-mini);
    color: var(--color-darkslategray);
  }
  .frame-child {
    height: 55px;
    width: 315px;
    position: relative;
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: 1px solid var(--color-silver);
    box-sizing: border-box;
    display: none;
  }
  .full-name {
    width: 78px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 21px;
    position: relative;
    letter-spacing: 1px;
    color: var(--color-silver);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .frame-item,
  .rectangle-parent {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: 1px solid var(--color-silver);
  }
  .rectangle-parent {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-6xl);
  }
  .frame-item {
    height: 55px;
    width: 315px;
    position: relative;
    box-sizing: border-box;
    display: none;
  }
  .email {
    width: 42px;
    border: 0;
    outline: 0;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    background-color: transparent;
    height: 21px;
    position: relative;
    letter-spacing: 1px;
    color: var(--color-silver);
    text-align: left;
    display: inline-block;
    padding: 0;
    z-index: 1;
  }
  .frame-inner,
  .rectangle-group {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: 1px solid var(--color-silver);
  }
  .rectangle-group {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-mini) var(--padding-6xl);
  }
  .frame-inner {
    height: 55px;
    width: 315px;
    position: relative;
    box-sizing: border-box;
    display: none;
  }
  .frame-input {
    width: 75px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    color: var(--color-silver);
  }
  .view-1-icon {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
    z-index: 1;
  }
  .rectangle-container,
  .rectangle-div {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: 1px solid var(--color-silver);
  }
  .rectangle-container {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: var(--padding-sm) var(--padding-7xl) var(--padding-smi)
      var(--padding-5xl);
    gap: var(--gap-xl);
  }
  .rectangle-div {
    height: 55px;
    width: 315px;
    position: relative;
    box-sizing: border-box;
    display: none;
  }
  .frame-child1 {
    width: 143px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 22px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-12xs) 0 0;
    box-sizing: border-box;
    font-family: var(--font-poppins);
    font-size: var(--font-size-sm);
    color: var(--color-silver);
  }
  .view-1-icon1 {
    height: 24px;
    width: 24px;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    min-height: 24px;
    z-index: 1;
  }
  .group-div,
  .input-containers {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .group-div {
    border-radius: var(--br-mini);
    background-color: var(--color-white);
    border: 1px solid var(--color-silver);
    flex-direction: row;
    justify-content: space-between;
    padding: var(--padding-sm) var(--padding-7xl) var(--padding-smi)
      var(--padding-5xl);
    gap: var(--gap-xl);
  }
  .input-containers {
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-mini);
  }
  .checkbox-container {
    margin: 0;
    height: 19px;
    width: 17px;
  }
  .text {
    position: relative;
    font-size: var(--font-size-sm);
    letter-spacing: 0.5px;
    font-family: var(--font-poppins);
    color: var(--color-darkslategray);
    text-align: left;
  }
  .checkbox-container-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-xl) 0 0;
    gap: var(--gap-mini);
  }
  .background {
    height: 55px;
    width: 315px;
    position: relative;
    box-shadow: 0 8px 10px rgba(35, 149, 255, 0.3);
    border-radius: var(--br-mini);
    background-color: var(--color-mediumslateblue);
    display: none;
  }
  .sign-up1 {
    position: relative;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    font-family: var(--font-poppins);
    color: var(--color-white);
    text-align: left;
    z-index: 1;
  }
  .background-parent {
    cursor: pointer;
    border: 0;
    padding: 16px var(--padding-xl) var(--padding-mini);
    background-color: var(--color-mediumslateblue);
    align-self: stretch;
    box-shadow: 0 8px 10px rgba(35, 149, 255, 0.3);
    border-radius: var(--br-mini);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    white-space: nowrap;
  }
  .background-parent:hover {
    background-color: #4d80ff;
  }
  .input-fields,
  .signup-form {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
  }
  .input-fields {
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: var(--gap-6xl);
  }
  .signup-form {
    gap: var(--gap-31xl);
  }
  .signup-form,
  .signup-form-wrapper,
  .v1-sign-up {
    display: flex;
    justify-content: flex-start;
  }
  .signup-form-wrapper {
    height: 817px;
    width: 315px;
    flex-direction: column;
    align-items: flex-start;
    min-width: 315px;
  }
  .v1-sign-up {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: row;
    align-items: flex-end;
    gap: 101px;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-mediumslateblue);
    font-family: var(--font-poppins);
  }
  @media screen and (max-width: 1200px) {
    .header,
    .signup-form-wrapper,
    .wrapper-group-12-child {
      flex: 1;
    }
    .v1-sign-up {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1050px) {
    .header {
      padding-top: var(--padding-158xl);
      padding-bottom: var(--padding-158xl);
      box-sizing: border-box;
      min-width: 100%;
    }
  }
  @media screen and (max-width: 750px) {
    .v1-sign-up {
      gap: var(--gap-31xl);
    }
  }
  @media screen and (max-width: 450px) {
    .header {
      padding-top: var(--padding-96xl);
      padding-bottom: var(--padding-96xl);
      box-sizing: border-box;
    }
    .sign-up,
    .wetick {
      font-size: var(--font-size-lgi);
    }
    .signup-form,
    .v1-sign-up {
      gap: var(--gap-6xl);
    }
  }
  body {
    margin: 0;
    line-height: normal;
  }
  
  :root {
    --font-poppins: Poppins;
  
    --font-size-sm: 14px;
    --font-size-5xl: 24px;
    --font-size-lgi: 19px;
  
    --color-white: #fff;
    --color-mediumslateblue: #3366ff;
    --color-darkslategray: #373a42;
    --color-silver: #c1c5d0;
  
    --gap-6xl: 25px;
    --gap-31xl: 50px;
    --gap-mini: 15px;
    --gap-xl: 20px;
  
    --padding-xl: 20px;
    --padding-mini: 15px;
    --padding-sm: 14px;
    --padding-7xl: 26px;
    --padding-smi: 13px;
    --padding-5xl: 24px;
    --padding-12xs: 1px;
    --padding-6xl: 25px;
    --padding-158xl: 177px;
    --padding-96xl: 115px;
  
    --br-mini: 15px;
  }
